<div class="b col-md-12">
  <div class="categories col-md-6 col-sm-12" >
    <h3>Categories</h3>
    <ul>
      <li>Article Writing</li>
      <li>Bill Payments</li>
      <li>Photography</li>
      <li>Laptop/ Mobile repairs</li>
      <li>Designing</li>
      <li>Printing</li>
      <li>Web development</li>
      <li>application development</li>
      <li>Transportation</li>
      <li>Consulting Services</li>
      <li>Tuitions</li>
    </ul>
  </div>
  <div class="search col-md-6 col-sm-12">
    <input type="text" name="search" placeholder="Search..">
    <input type="button" name="search" value="Search">
  </div>
</div>

<div class="mix col-md-12">
    <div class="recent col-md-6 col-sm-12">
      <h4>Recent Posts</h4>
      <table>
        <tr>
          <td><i class="fa fa-camera fa-4x" aria-hidden="true"></i></td>
          <td>I need a person who can click good photos in my birthday. <br><input type="button" value="Get Details" style="text-align:right"></td>
        </tr>
        <tr>
          <td><i class="fa fa-print fa-4x" aria-hidden="true"></i></td>
          <td>I have 500 pages document, I need 3copies of each page. I need a person who can print those documents and bring it to me. <br><input type="button" value="Get Details" style="text-align:right"> </td>
        </tr>
        <tr>
          <td><i class="fa fa-money fa-4x" aria-hidden="true"></i></td>
          <td>I want a person who can pay my telephone bills.<br> <input type="button" value="Get Details" style="text-align:right"></td>
        </tr>
      </table>

    </div>
  <div class="trend col-md-6 col-sm-12">
    <h4> Trending jobs</h4>
    <table>
      <tr>
        <td><i class="fa fa-pencil fa-4x" aria-hidden="true"></i></td>
        <td>Article writing jobs are mostly preffered</td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop fa-2x" aria-hidden="true"></i> <i class="fa fa-mobile fa-3x" aria-hidden="true"></i></td>
        <td>Laptop and mobile repairments</td>
      </tr>
    </table>
  </div>
</div>
