<div class ="about">
  <h1>About</h1>
  <p>MancheChahiyo is an online platform that connects the jobseekers to the employer and vice-versa. </p>

  <p>We work to reframe the concept of freelancingin Nepal through MancheChahiyo. Anyone with technical(IT skills) or non-technical are welcomed to MancheChahiyo</p>


  </div>
