<div class="b col-md-12">
  <div class="col-md-3">

  </div>
  <div class="categories col-md-3 col-sm-12" >
    <h3>Categories</h3>
    <ul>
      <li>Article Writing</li>
      <li>Bill Payments</li>
      <li>Photography</li>
      <li>Laptop/ Mobile repairs</li>
      <li>Designing</li>
      <li>Printing</li>
      <li>Web development</li>
      <li>application development</li>
      <li>Transportation</li>
      <li>Consulting Services</li>
      <li>Tuitions</li>
    </ul>
  </div>
  <div class="search col-md-3 col-sm-12">
    <input type="text" name="search" placeholder="Search.."><br>
    <input type="button" name="search" value="Search">
  </div>
</div>

<div class="mix col-md-12">
    <div class="recent col-md-6 col-sm-12">
      <h4>Recent Posts</h4>
      <% @posts.each do |post| %>
        <%= post.title %> <br>
        <%= post.category %> <br>
        <%= link_to 'Get Details', post_path(post.id)%><br>
        <!-- <%= post.author %> -->
      <% end %>
    </div>
  <div class="trend col-md-6 col-sm-12">
    <h4> Trending jobs</h4>
    <table>
      <tr>
        <td><i class="fa fa-pencil fa-4x" aria-hidden="true"></i></td>
        <td>Article writing jobs are mostly preffered</td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop fa-2x" aria-hidden="true"></i> <i class="fa fa-mobile fa-3x" aria-hidden="true"></i></td>
        <td>Laptop and mobile repairments</td>
      </tr>
    </table>
  </div>
</div>
