<div class="col-md-12">
  <div class="col-md-3">

  </div>
  <div class="well col-md-6 center">
    <h3>Monetize your skills with MancheChahiyo</h3> <br>
    <h4><%= User.all.count%> Users</h4>
    <%= button_to "Sign Up", new_user_session_path%>
  </div>
  <div class="col-md-3">

  </div>
</div>
<div class="col-md-12">
  <div class="col-md-3">

  </div>
  <div class="well col-md-6 center">
      <% if user_signed_in? %>
      <h2>Thank you for signing up at MancheChahiyo!</h2>
      Benefits you get:
      <ol>
        <li>3 months subscription to MancheChahiyo.
        <li>100 MancheChahiyo Credits.
      </ol>
    <% else %>
    <h3>Sign up for FREE today!</h3> <br>
    <%end%>
  </div>
  <div class="col-md-3">

  </div>
</div>
